BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

# Indentation and Tabs
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 0

# Braces & Alignment
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Includes
SortIncludes: Never
IncludeBlocks: Preserve
